<div class="container">
  <code>Some intro text?</code>
  <!--
      --- FISHING ----
  -->
  <%= block_header 'fishing', 'activities.fishing.h1' %>
  <div class="row">
    <div class="col-md-8">
      <p><%= t 'activities.fishing.par1' %></p>
      <p><%= t 'activities.fishing.par2' %></p>
      <p><%= t 'activities.fishing.par3' %> <a href="<%= t 'activities.fishing.link_fishing_norway' %>"><%= t 'activities.fishing.link_fishing_norway' %> <%= t 'general.external_link' %></a> <%= t 'activities.fishing.par4' %></p>
      <p><%= t 'activities.fishing.par5' %></p>
      <p><%= t 'activities.fishing.par6' %></p>
      <p><%= t 'activities.fishing.par7' %></p>
      <p><%= t 'activities.fishing.par8' %> <a href="<%= t 'activities.fishing.link_fisker' %>"><%= t 'activities.fishing.link_fisker' %> <%= t 'general.external_link' %></a>.</p>
      <p><%= t 'activities.fishing.par9' %></p>
      <p><%= t 'activities.fishing.par10' %></p>
      <p><%= t 'activities.fishing.par11' %></p>
      <p><%= t 'activities.fishing.par12' %></p>
    </div>
    <div class="col-md-4">
      <%= image_tag('activities/fishing/fishing1_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.fishing.h3_price' %></h3>
  <p><%= t 'activities.fishing.par13' %></p>

  <h3><%= t 'activities.fishing.h3_fishguide' %></h3>
  <p><%= t 'activities.fishing.par14' %></p>

  <!--
      --- HIKING ----
  -->
  <%= block_header 'hiking', 'activities.hiking.h1' %>

  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'activities.hiking.h3_borve' %></h3>
      <p><%= t 'activities.hiking.par1' %></p>
      <p><%= t 'activities.hiking.par2' %></p>
      <p><%= t 'activities.hiking.par3' %></p>
      <p><%= t 'activities.hiking.par4' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/hiking/hiking_neshagen_to_borve.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'activities.hiking.h3_movatnet' %></h3>
      <p><%= t 'activities.hiking.par5' %></p>
      <p><%= t 'activities.hiking.par6' %></p>
      <p><%= t 'activities.hiking.par7' %></p>
      <p><%= t 'activities.hiking.par8' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/hiking/hiking_round_movatnet.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'activities.hiking.h3_sogestien' %></h3>
      <p><%= t 'activities.hiking.par9' %></p>
      <p><%= t 'activities.hiking.par10' %></p>
      <p><%= t 'activities.hiking.par11' %></p>
      <p><%= t 'activities.hiking.par12' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/hiking/hiking_sogestien_way.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'activities.hiking.h3_soldal' %></h3>
      <p><%= t 'activities.hiking.par13' %></p>
      <p><%= t 'activities.hiking.par14' %></p>
      <p><%= t 'activities.hiking.par15' %></p>
      <p><%= t 'activities.hiking.par16' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/hiking/hiking_soldal2.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
      --- BOAT TOURS ----
  -->
  <%= block_header 'boat_tours', 'activities.boat_tours.h1' %>

  <%= image_tag('activities/boat_tours/boat_tour1.png', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>

  <h3><%= t 'activities.boat_tours.h3' %></h3>
  <p><%= t 'activities.boat_tours.par1' %></p>
  <code>We should probably write more about this</code>

  <h2><%= t 'activities.boat_tours.h2_arranged' %></h2>
  <h3><%= t 'activities.boat_tours.h3_viking_ship' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><%= t 'activities.boat_tours.par2' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/boat_tours/viking_ship/viking_ship_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>
  <h3><%= t 'activities.boat_tours.h3_eidfjord' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t 'activities.boat_tours.length' %></strong><%= t 'activities.boat_tours.par3'%></p>
      <p><%= t 'activities.boat_tours.par4' %></p>
      <p><%= t 'activities.boat_tours.par5' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/boat_tours/viking_ship/viking_ship_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h2><%= t 'activities.boat_tours.h2_self' %></h2>
  <code>Some intro about daycruising here</code>
  <h3><%= t 'activities.boat_tours.h3_steinst' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t 'activities.boat_tours.length' %></strong><%= t 'activities.boat_tours.par6'%></p>
      <p><%= t 'activities.boat_tours.par7' %></p>
      <p><%= t 'activities.boat_tours.par8' %></p>
      <p><%= t 'activities.boat_tours.par9' %></p>
      <p><%= t 'activities.boat_tours.par10' %></p>
      <p><%= t 'activities.boat_tours.par11' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/boat_tours/boat_tour_1/boat_tour1_1_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.boat_tours.h3_kvam' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><strong><%= t 'activities.boat_tours.length' %></strong><%= t 'activities.boat_tours.par6'%></p>
      <p><%= t 'activities.boat_tours.par13' %></p>
      <p><%= t 'activities.boat_tours.par14' %></p>
      <p><%= t 'activities.boat_tours.par15' %></p>
      <p><%= t 'activities.boat_tours.par16' %></p>
      <p><%= t 'activities.boat_tours.par17' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/boat_tours/boat_tour_2/boat_tour2_1_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>
  <br>
  <div class="alert alert-success">
    <%= t 'activities.boat_tours.par18' %>
  </div>

  <!--
    --- Canoeing ----
-->
  <%= block_header 'canoeing', 'activities.canoeing.h1' %>
  <h3><%= t 'activities.canoeing.par1' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><%= t 'activities.canoeing.par2' %></p>
      <p><%= t 'activities.canoeing.par3' %></p>
      <p><%= t 'activities.canoeing.par4' %></p>
      <p><a href="www.fyksesundbraut.no"><%= t 'activities.canoeing.link_fyksesund' %></a></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/canoing/canoing1.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
  --- Bathing ----
-->
  <%= block_header 'swimming', 'activities.swimming.h1' %>
  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.swimming.par1' %></p>
      <p><%= t 'activities.swimming.par2' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/swimming/swimming1.png', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
  --- Bicycle riding ----
-->
  <%= block_header 'cycling', 'activities.cycling.h1' %>
  <div class="row">
    <div class="col-md-7">
      <h3><%= t 'activities.cycling.h3' %></h3>
      <p><%= t 'activities.cycling.par1' %></p>
      <p><%= t 'activities.cycling.par2' %></p>
      <p><%= t 'activities.cycling.par3' %></p>
      <p><%= t 'activities.cycling.par4' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/cycling/cycling5.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>


  <!--
  --- Horseriding ----
-->
  <%= block_header 'riding', 'activities.riding.h1' %>
  <div class="row">
    <div class="col-md-7">
      <h3><%= t 'activities.riding.h3' %></h3>
      <p><%= t 'activities.riding.par1' %></p>
      <p><%= t 'activities.riding.par2' %></p>
      <p><%= t 'activities.riding.par3' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/equitation/equitation_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
  --- Ladies Point ----
-->
  <%= block_header 'ladies_point', 'activities.ladies_point.h1' %>
  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'activities.ladies_point.h3' %></h3>
      <p><%= t 'activities.ladies_point.par1' %></p>
      <p><%= t 'activities.ladies_point.par2' %></p>
      <ul>
        <li><%= t 'activities.ladies_point.par3' %></li>
        <li><%= t 'activities.ladies_point.par4' %></li>
        <li><%= t 'activities.ladies_point.par5' %></li>
        <li><%= t 'activities.ladies_point.par6' %></li>
        <li><%= t 'activities.ladies_point.par7' %></li>
        <li><%= t 'activities.ladies_point.par8' %></li>
        <li><%= t 'activities.ladies_point.par10' %></li>
      </ul>
      <p><%= t 'activities.ladies_point.par11' %>
        <a href="<%= t 'activities.ladies_point.link_ladies_point' %>"><%= t 'activities.ladies_point.link_ladies_point' %> <%= t 'general.external_link' %></a></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/ladies_point/ladiespoint2.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
--- Extreme sports ----
-->
  <%= block_header 'extreme_sports', 'activities.extreme_sport.h1' %>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('activities/extreme_sports/rafting/rafting2.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
      <h3><%= t 'activities.extreme_sport.h3' %></h3>
      <p><%= t 'activities.extreme_sport.par1' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/extreme_sports/surfing/surfing1.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
      <h3><%= t 'activities.extreme_sport.h3_surfing' %></h3>
      <p><%= t 'activities.extreme_sport.par2' %></p>
    </div>
  </div>

  <!--
--- Culture ----
-->
  <%= block_header 'culture', 'activities.culture.h1' %>
  <h3><%= t 'activities.culture.h3' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><%= t 'activities.culture.par1' %></p>
      <p><%= t 'activities.culture.par2' %></p>
      <p><%= t 'activities.culture.par3' %></p>
      <p><%= t 'activities.culture.par4' %></p>
      <p><%= t 'activities.culture.par5' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/culture/robber_meal.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.culture.h3_museum' %></h3>
  <div class="row">
    <div class="col-md-6">
      <h4><%= t 'activities.culture.par6' %></h4>
      <p><%= t 'activities.culture.par7' %></p>
      <p><%= t 'activities.culture.par8' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/culture/museum.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>
  <h4><%= t 'activities.culture.par9' %></h4>
  <p><%= t 'activities.culture.par10' %></p>
  <p><%= t 'activities.culture.par11' %></p>
  <p><%= t 'activities.culture.par12' %></p>
  <p><%= t 'activities.culture.par13' %></p>
  <p><%= t 'activities.culture.par14' %></p>

  <h3><%= t 'activities.culture.h3_hfs' %></h3>
  <div class="row">
    <div class="col-md-6">
      <p><%= t 'activities.culture.par15' %></p>
      <p><%= t 'activities.culture.par16' %></p>
      <p><%= t 'activities.culture.par17' %></p>
      <p><%= t 'activities.culture.par18' %></p>
    </div>
    <div class="col-md-6">
      <%= image_tag('activities/culture/hfs.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
--- Golf ----
-->
  <%= block_header 'golf', 'activities.golf.h1' %>
  <div class="row">
    <div class="col-md-7">
      <h3><%= t 'activities.golf.h3' %></h3>
      <p><%= t 'activities.golf.par1' %></p>
      <p><%= t 'activities.golf.par2' %></p>
      <p><%= t 'activities.golf.par3' %></p>
      <p><a href="https://hardangergk.wordpress.com"><%= t 'activities.golf.link_golf' %></a></p>

    </div>
    <div class="col-md-5">
      <%= image_tag('activities/golf/golf.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <!--
--- Wintersports ----
-->
  <%= block_header 'wintersports', 'activities.wintersports.h1' %>

  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.wintersports.par1' %></p>
      <p><%= t 'activities.wintersports.par2' %></p>
      <p><%= t 'activities.wintersports.par3' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/wintersports/ski_resort_eikedalen/eikedalen3_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.wintersports.h3' %></h3>
  <p><%= t 'activities.wintersports.par4' %></p>

  <h3><%= t 'activities.wintersports.h3_eikedalen' %></h3>
  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.wintersports.par10' %></p>
      <p><%= t 'activities.wintersports.par11' %></p>
      <p><%= t 'activities.wintersports.par12' %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/wintersports/ski_resort_eikedalen/eikedalen2_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.wintersports.h3_furedalen' %></h3>
  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.wintersports.par5' %></p>
      <p><%= t 'activities.wintersports.par6' %></p>
      <p><%= t 'activities.wintersports.par7' %></p>
      <p><%= t 'activities.wintersports.par8' %></p>
      <p><%= t 'activities.wintersports.par9' %></p>
      <p><a href="<%= t 'activities.wintersports.link_furedalen' %>"><%= t 'activities.wintersports.link_desc' %></a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/wintersports/ski_resort_furedalen/furedalen1_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.wintersports.h3_sjusete' %></h3>
  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.wintersports.par13' %></p>
      <p><%= t 'activities.wintersports.par14' %></p>
      <p><%= t 'activities.wintersports.par15' %></p>
      <p><a href="http://www.sjusete.com"><%= t 'activities.wintersports.link_sjusete' %></a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/wintersports/ski_resort_sjusete_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

  <h3><%= t 'activities.wintersports.h3_summer' %></h3>
  <div class="row">
    <div class="col-md-7">
      <p><%= t 'activities.wintersports.par16' %></p>
      <p><%= t 'activities.wintersports.par17' %></p>
      <p><%= t 'activities.wintersports.par18' %></p>
      <p><%= t 'activities.wintersports.par19' %></p>
      <p><a href="http://www.folgefonn.no/"><%= t 'activities.wintersports.link_summer' %></a></p>
    </div>
    <div class="col-md-5">
      <%= image_tag('activities/wintersports/ski_resort_sommer_small.jpg', :class => 'img-responsive', :style => 'width: 100%; height: auto') %>
    </div>
  </div>

</div>