<div class="panel panel-booking" id="booking-box">
  <div class="panel-heading"><%= t 'menu.booking'%></div>
  <ul class="list-group">
    <a class="list-group-item" href="<%= t 'booking.calendar_button_link' %>">
      <%= t 'booking.calendar_button_text'%> <i class="icon-right-open pull-right"></i>
    </a>
    <a class="list-group-item" href="<%= t 'booking.general_booking_button_link' %>">
      <%= t 'booking.general_booking_button_text'%><i class="icon-right-open pull-right"></i>
    </a>
  </ul>
  <div class="panel-body">
    <h4><%= t 'booking.search_by_date_h4'%> </h4>
    <%= render 'layouts/booking_form' %>
  </div>
</div>