<table id="booking-form"> <!-- todo localize booking form-->
  <tbody>
  <tr>
    <div class="input-daterange input-group" id="datepicker">
      <span class="input-group-addon"><%= t 'booking.form_check_in' %></span>
      <input name="date_from" id="date_from" data-provide="datepicker" class="input-sm form-control" placeholder="<%= t 'booking.form_date_format' %>"/>
      <span class="input-group-addon"><%= t 'booking.form_check_out' %></span>
      <input name="date_to" id="date_to" data-provide="datepicker" class="input-sm form-control" placeholder="<%= t 'booking.form_date_format' %>" />
    </div>
  </tr>

  <tr>
    <div class="input-group">
      <span class="input-group-addon"><%= t 'booking.form_adults' %></span>
      <select name="num_adults" id="num_adults" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>
  </tr>

  <tr>
    <div class="input-group">
      <span class="input-group-addon"><%= t 'booking.form_children' %></span>
      <select name="num_children" id="num_children" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </tr>

  <tr>
    <td colspan="2">
      <a class="btn-default btn" id="search_button" href=""><%= t 'booking.form_button' %></a>
    </td>
  </tr>
  </tbody>
</table>
<script>
  $(document).ready(function(){
      var _MS_PER_DAY = 1000 * 60 * 60 * 24;
      $('#datepicker').datepicker({
          todayBtn: true,
          language: "de",
          multidate: false,
          forceParse: false,
          autoclose: true,
          todayHighlight: true
      });

      function parseDate(str) {
          var dmy = str.split('.');
          return new Date(dmy[2], dmy[1]-1, dmy[0]);
      }

      // a and b are javascript Date objects
      function dateDiffInDays(a, b) {
          // Discard the time and time-zone information.
          var utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
          var utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

          return Math.floor((utc2 - utc1) / _MS_PER_DAY);
      }

      function getNumber(num) {
          if (num.toString().length == 1) {
              return 0 + num.toString();
          } else {
              return num.toString();
          }
      }

      $('#search_button').click(function() {
          var datefrom = parseDate($('#date_from').val());
          var dateto = $('#date_to').val();
          var nights = dateDiffInDays(datefrom, parseDate(dateto));
          var fromYearMonth = datefrom.getFullYear() + getNumber(datefrom.getMonth()+1);
          var fromDay = getNumber(datefrom.getDate());
          var numAdults = $('#num_adults').val();
          var numChildren = $('#num_children').val();

          location.href = ('http://reservation.worldweb.com/Bookings-nr105/activity-edit.html?table=hotels&mode=command&command=roomsearch&listing_id=1260&hotel_id=1260&location_id=0&reservationcode_id=11586&rc_id=12208&language=german&date_from_yearmonth='+fromYearMonth+'&date_from_day='+fromDay+'&num_nights='+nights+'&num_adults='+numAdults+'&num_children='+numChildren+'&exchange_rates=NOK');
      });
  });
</script>