<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/"><%= image_tag('logo_white.png', height: '50px')%></a>

  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <script>
        $(document).ready(function() {
            var x = $(".a-item");
            $(".collapse").on('show.bs.collapse', function () {
                for (var i = 0; i < x.length; i++) {
                    x[i].style.paddingBottom = "5px";
                    x[i].style.paddingTop = "5px";
                }
            });
            $(".collapse").on('hide.bs.collapse', function () {
                for (var i = 0; i < x.length; i++) {
                    x[i].style.paddingBottom = "20px";
                    x[i].style.paddingTop = "20px";
                }
            });
        });
    </script>
    <div id="top-nav">
      <ul class="nav navbar-nav" role="navigation">
<!-- ToDo sort activity menu alphabetically -->
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right" role="navigation">
      <li><a class="a-item" href="<%= root_url %>#resort"><%= t 'menu.the_resort' %></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle a-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= t 'menu.booking' %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="<%= url_for controller: 'pages', action: :houses %>"><i class="icon-home-1"></i> <%= t 'booking.houses' %></a></li>
          <li><a href="#"><i class="icon-flag"></i> <%= t 'booking.camping' %></a></li>
          <li><a href="#"><i class="icon-anchor-1"></i> <%= t 'booking.boats' %></a></li>
          <li><a href="#"><i class="icon-bicycle"></i> <%= t 'booking.bicyles' %></a></li>
          <li role="separator" class="divider"></li>
          <li><a href="<%= t 'booking.general_booking_button_link' %>">
            <i class="icon-export"></i> <%= t 'booking.general_booking_button_text' %></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle a-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= t 'menu.activities' %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#fishing">
            <%= t 'activities.fishing.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#hiking">
            <%= t 'activities.hiking.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#boat_tours">
            <%= t 'activities.boat_tours.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#canoeing">
            <%= t 'activities.canoeing.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#swimming">
            <%= t 'activities.swimming.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#cycling">
            <%= t 'activities.cycling.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#riding">
            <%= t 'activities.riding.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#ladies_point">
            <%= t 'activities.ladies_point.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#extreme_sports">
            <%= t 'activities.extreme_sport.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#culture">
            <%= t 'activities.culture.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#golf">
            <%= t 'activities.golf.h1' %></a></li>
          <li><a href="<%= url_for controller: 'pages', action: :activities %>#wintersports">
            <%= t 'activities.wintersports.h1' %></a></li>
        </ul>
      </li>
      <li><a class="a-item" href="<%= url_for controller: 'pages', action: :contact %>"><%= t 'menu.contact' %></a></li>
      <li><a class="a-item" href="<%= url_for controller: 'pages', action: :legal %>"><%= t 'menu.impressum' %></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= image_tag('flags/' + I18n.locale.to_s + '.png')%><span class="caret"></span>
        </a>
        <ul class="dropdown-menu lang-select">
          <%= locale_selector %>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>