<!DOCTYPE html>
<html>
<head>
  <title>Hardanger Resort</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#top-nav">
<%= render 'layouts/nav' %>
<div style="height: 60px"></div>
    <%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
